@model E_Commerce_C__ASP.NET.Models.Produto

@using E_Commerce_C__ASP.NET.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Detalhes do Produto";
}
@{
    List<Produto> produtos = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<List<Produto>>("produtos");
    Produto produto = null;
    if (produtos != null)
        produto = produtos.FirstOrDefault(p => p.Id == Model.Id);
}
<br />

<h2 class="text-info">Detalhes do Produto</h2>
<form asp-action="Details" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>

        <div class="col-4">
            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Nome"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id" />
                    <input asp-for="Nome" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Preco"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Preco" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="Cor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Cor" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Cor" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="TipoProdutoId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="TipoProdutoId" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="TipoProdutoId" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                    <label asp-for="TagId"></label>
                </div>
                <div class="col-8">
                    <input asp-for="TagId" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="TagId" class="text-danger"></span>
            </div>

            <div class="form-group row mb-3">
                <div class="col-4">
                </div>
                <div class="col-8">
                    @if (!Model.Disponivel)
                    {
                        <span class="text-danger">Produto Indisponível</span>
                    }
                    else if (Model.Stock == 0)
                    {
                        <span class="text-danger">Fora de Stock</span>
                        <img src="~/Imagens/out-stock.png" style="width:35px; height:35px;" />
                    }
                    else
                    {
                        <img src="~/Imagens/in-stock.png" style="width:35px; height:35px;" />
                        <button type="submit" class="btn btn-info">
                            <i class="fas fa-shopping-cart"></i> Adicionar ao Carrinho
                        </button>

                        @if (produto != null)
                        {
                            <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id"><i class="fas fa-trash"></i>   Remover</button>
                        }
                        else
                        {
                            <button type="submit" disabled="true" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.Id"><i class="fas fa-trash"></i>   Remover</button>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="col-8 text-center">
            @if (!Model.Disponivel || Model.Stock == 0)
            {
                <img src="~/Imagens/out-stock-large.png" class="img-fluid" alt="Produto Fora de Stock" />
            }
            else
            {
                <img src="~/@Model.Imagem" class="img-fluid" alt="Imagem do Produto" />
            }
        </div>
    </div>

    <div class="form-group mt-3">
        <a asp-action="Index" class="btn btn-success">Voltar à Lista</a>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
